
/* write a container class that will center the board on the page vertically and horizontally */
.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

board {
  filter: brightness(87%);
  border-style: solid;
  border-width: 15px;
  border-color: rgb(36,19,12);
  border-radius: 10px;
  box-shadow: 1px 1px 30px 10px rgb(46,29,24);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


row {
  display: flex;
  flex-direction: row;
}

square {
  float: left;
  width: 70px;
  height: 70px;
  background-color: rgb(202,179,139);
}

row:nth-child(odd) square:nth-child(even), row:nth-child(even) square:nth-child(odd) {
  background-color: rgb(81,40,15);
  /*background-color: rgb(102,43,27);*/
}
piece {
  position: absolute;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: grab;
  background-color: transparent !important;
}

piece:active {
  cursor: grabbing;
}

/* write a css media query that would make the squares smaller on a mobile device */
@media screen and (max-width: 660px) and (max-height: 680px){
  square {
    width: 10vw;
    height: 10vw;
  }
  
  piece {
    width: 10vw;
    height: 10vw;
  }
}
@media screen and (max-width: 560px) and (max-height: 580px){
  square {
    width: 9.5vw;
    height: 9.5vw;
  }
  
  piece {
    width: 8vw;
    height: 8vw;
  }
}
@media screen and (max-height: 580px){
  square {
    width: 9.5vw;
    height: 9.5vw;
  }
  
  piece {
    width: 9.5vw;
    height: 9.5vw;
  }
}
@media screen and (max-height: 680px){
  square {
    width: 9.5vw;
    height: 9.5vw;
  }
  
  piece {
    width: 9.5vw;
    height: 9.5vw;
  }
}
@media screen and (max-height: 400px){
  square {
    width: 7vw;
    height: 7vw;
  }
  
  piece {
    width: 7vw;
    height: 7vw;
  }
}